# Python for Financial Analysts

These first two introductory notebooks largely follow the [official python tutorial], converted into notebook form, and enriched with [CFA Fundamentals] examples.

[official python tutorial]: https://docs.python.org/3/tutorial/index.html
[CFA Fundamentals]: https://www.schweser.com/cfa/blog/become-a-cfa-charterholder/download-free-ebook-cfa-fundamentals-2nd-edition

In [1]:
# comments in python are comments, they are ignored by python.

# Arithmetic + Data types

In [2]:
1 + 1

2

In [7]:
2_000_000 # underscores are ignored by python but can be used for clarity

2000000

In [20]:
2_000_000 / 200_000

10.0

Numbers in python can be stored as integers (whole numbers) or floats (decimals)

In [8]:
type(200)

int

In [9]:
type(200.0)

float

In [13]:
9 / -3

-3.0

In [12]:
1 / .25

4.0

In [15]:
2**3

8

In [17]:
# the modulus operator, or remainder
7 % 3

1

In [19]:
100 * 1.02

102.0

In [1]:
# exponents
2**3

8

In [3]:
# The current price of a zero coupon bond with $100 face value, %3 required rate of return, and 2 year maturity
100 / (1 + 0.03)**2

94.25959091337543

In [ ]:
# lets import our first module from the standard library, math
# math contains mathematical functions
import math

In [18]:
math.sqrt(9)

3.0

In [19]:
math.factorial(5)

120

In [8]:
# on precision, 
# floating point arithmetic has limitations. It is imprecise.

0.1 + 0.1 + 0.1 - 0.3

5.551115123125783e-17

In [13]:
5.551115123125783e-17

5.551115123125783e-17

In [10]:
from decimal import Decimal # import only Decimal class (more on classes later) from module decimal (capitalizaion is important)

In [12]:
Decimal('0.1') + Decimal('0.1') + Decimal('0.1') - Decimal('0.3')

Decimal('0.0')

Okay, let's just use Decimal from now on!


...but wait. There are trade-offs. 

Although Decimal is the correct data type to use if _exact_ precision is needed, it is slow. And it also doesn't work with the popular data analysis libraries we will use later on. 

Impression of magnitude 10^-17 is very small. Even if we are dong financial calculations with USA's GDP (19.39 trillion) and small interest rates there is no issue.:

In [19]:
19.39 * 10**12 * .000001

19390000.0

So we accept the imprecision in favor of float's speed and ease of use in financial calculations. And we are in good company because MS excel itself uses floating point arithmetic, it just hides it very well.

https://docs.microsoft.com/en-us/office/troubleshoot/excel/floating-point-arithmetic-inaccurate-result  
https://people.eecs.berkeley.edu/~wkahan/Mindless.pdf

19390000.0

# Variables

In [10]:
a = 6

In [11]:
5 * a

30

In [6]:
interest_rate = 10 / 100
interest_rate

0.1

## Time value of money
What is the future value of a lump sum of money, say **$100**, in one year given a **%10** annual interest rate?

In [7]:
i = .1
PV = 100

FV = PV * (1+i)
FV

110.00000000000001

In [34]:
# Time value of money.
# The current price of a zero coupon bond with $100 face value, %3 required rate of return, and 2 year maturity
FV = 100
r = 0.03
n = 2
PV = FV / (1 + r)**n
PV

94.25959091337543

In [35]:
# update maturity date to 6 years
n = 6
PV = FV / (1 + r)**n
PV

83.74842566836543

# Strings + String Manipulation

In [20]:
'Financial Analysts'

'Financial Analysts'

In [2]:
a_string = 'Financial Analysts'
a_string

'Financial Analysts'

In [3]:
# string slicing
str1 = a_string[:9]
str1

'Financial'

In [4]:
str2 = a_string[9:]
str2

' Analysts'

In [5]:
#string concatination
str1 + str2

'Financial Analysts'

In [32]:
# string methods (They do not modify the original string)
a_string.upper()

'FINANCIAL ANALYSTS'

In [33]:
a_string

'Financial Analysts'

See https://docs.python.org/3.7/library/stdtypes.html#string-methods for all string methods

# Print function

In [34]:
print('hello world')

hello world

In [43]:
# f-strings are new in Python 3.6+. They allow for easier formatting and evaluation of values
FV = 100
r = 0.03
n = 2

print(f'The current price of a zero coupon bond with ${FV} face value, %{r*100} required rate of return, and {n} year maturity')

The current price of a zero coupon bond with $100 face value, %3.0 required rate of return, and 2 year maturity

# Lists 1

Lists are the first storage data structure we introduce. They can hold any python object. Indexing and slicing works similar to strings.

In [ ]:
a_list = [1, 2, 3]

In [5]:
a_list[0]

1

In [6]:
a_list[-1]

3

In [10]:
len(a_list)

3

In [12]:
b_list = [1, 50.67, True, 'finance']

In [9]:
b_list[3]

'finance'

In [18]:
'finance' in b_list

True

In [19]:
'analyst' in b_list

False

In [13]:
a_list + b_list

[1, 50.67, True, 'finance', 1, 50.67, True, 'finance']

# Comparison operators

In [35]:
1 < 2

True

In [41]:
2 < 1

False

In [36]:
1 == 1

True

In [40]:
100 != 10

True

In [42]:
100 != 100

False

In [39]:
10 <= 10

True

In [37]:
# '==' is equivalency, not to be confused with variable assignment '='
principal = 100

In [38]:
principal == 100

True

# Control Flow

## `if` statements

Note that with if statements, the code that is executed needs to be indented properly. Python is a unique language in that it enforces white space.

In [1]:
balance = 0
if balance == 0:
    print('balance is zero')

balance is zero

In [2]:
balance = 100
if balance == 0:
    print('balance is zero')
else:
    print('balance is not zero')

balance is not zero

In [3]:
balance = 100
if balance == 0:
    print('balance is zero')
elif balance > 0:
    print('balance is positive')
else:
    print('balance is negative')

balance is positive

In [5]:
balance = -100
if balance == 0:
    print('balance is zero')
elif balance > 0:
    print('balance is positive')
else:
    print('balance is negative')

balance is negative

## `while` loop

In [17]:
# a basic while loop allows repeating of statements/commands
i=0
while i < 5:
    print(i)
    i+=1 # shorthand for i = i + 1

0
1
2
3
4

## `for` Statements

In [3]:
# a basic for loop allows repeating of statements/commands
for i in [1, 2, 3]:
    print(i)

1
2
3

In [23]:
# The range function creates an iterator that can be consumed by a for loop
for i in range(1, 4):
    print(i)

1
2
3

# Data Structures

## Lists 2

In [26]:
List Comprehensions
cashflows = [i * 100 for i in range(1, 6)]
cashflows

[100, 200, 300, 400, 500]

## Dictionaries

Key - Value pairs, key being a word and value being the definition, hence the dictionary name.

In [30]:
a_dict = {'key':'value'}
a_dict

{'key': 'value'}

In [31]:
a_dict['key']

'value'

In [32]:
# add another key
a_dict[2]='two'
a_dict

{'key': 'value', 2: 'two'}

## Tuples

In [29]:
a_tuple = (1, 2)
a_tuple

(1, 2)

In [2]:
# instantiate multiple variables in one line is called tuple unpacking:
var1, var2 = 10 , 11

In [3]:
var1

10