In [3]:
import numpy as np
import pandas as pd

# Part 1: Time Value of Money

## Future Value 
Calculate the FV of an \\$8000 investment at the end of two years if it earns an annually compounded rate
of return of 14%.

## Answer

In [5]:
fv = np.fv(rate=0.14, nper=2, pmt=0, pv=-8000)
print(f'FV = ${round(fv, 2)}')

FV = $10396.8

## PV of a bond’s cash flows
A bond will make coupon interest payments of \\$400 dollars at the end of each year
and will also pay its face value of $5,000 at maturity in six years. If the appropriate discount rate
is 13%, what is the present value of the bond’s promised cash flows?

## Answer

In [24]:
PV = np.pv(rate=.13, nper=6, pmt=400, fv=5000)
print(f'PV = ${round(-PV, 2)}')

PV = $4000.61

A firm is considering the purchase of equipment that costs \\$10,000. Assume a
required rate of return of 8% and the following cash flow schedule:
- Year 1: \\$3,000.
- Year 2: \\$2,000.
- Year 3: \\$2,000.
- Year 4: \\$3,000.
- Year 5: \\$2,000.
- Year 6: \\$2,000.

What is the project’s NPV?

In [19]:
npv = np.npv(0.08,[-10.0, 3.0, 2.0, 2.0, 3.0, 2.0, 2.0]);
print(f'NPV = ${round(npv*1_000, 2)}')

NPV = $906.72

What is the project's IRR?

In [18]:
irr = np.irr([-10.0, 3.0, 2.0, 2.0, 3.0, 2.0, 2.0]);
print(f'IRR = {round(irr*100, 2)}%')

IRR = 11.08%

# Part 2: Loans

Build an amortization schedule of a 15 year \\$500,000 loan with an annual interest rate of 3.0%.

## Answer

In [8]:
amortization = pd.DataFrame({'period':np.arange(12*15)+1})

In [10]:
amortization['principal'] = np.abs(np.ppmt(rate=0.03/12, per=amortization.period, nper=12*15, pv=500000, fv=0))

In [9]:
amortization['interest'] = np.abs(np.ipmt(rate=0.03/12, per=amortization.period, nper=12*15, pv=500000, fv=0))

In [13]:
amortization['payment'] = amortization['principal'] + amortization['interest']

In [14]:
amortization['balance'] = 500000 - amortization['principal'].cumsum()

In [15]:
pd.options.display.float_format = '{:,.2f}'.format

In [16]:
amortization

     period  interest  principal  payment    balance
0         1  1,250.00   2,202.91 3,452.91 497,797.09
1         2  1,244.49   2,208.42 3,452.91 495,588.68
2         3  1,238.97   2,213.94 3,452.91 493,374.74
3         4  1,233.44   2,219.47 3,452.91 491,155.27
4         5  1,227.89   2,225.02 3,452.91 488,930.25
..      ...       ...        ...      ...        ...
175     176     42.84   3,410.07 3,452.91  13,725.74
176     177     34.31   3,418.59 3,452.91  10,307.15
177     178     25.77   3,427.14 3,452.91   6,880.01
178     179     17.20   3,435.71 3,452.91   3,444.30
179     180      8.61   3,444.30 3,452.91      -0.00

[180 rows x 5 columns]